# This is where we store the original dotfiles
original_dotfiles

# Some random crap zsh puts into .config
.config/zsh/.zsh_sessions
.config/zsh/.zsh_history

# Some random crap zsh puts into .config
.config/tmux/plugins

# Lazygit autocreates its own install folder 
.config/lazygit

# GitHub Copilot stuff
.config/github-copilot

# The virtual environment used for installation script
setup/venv
setup/backup
setup/__pycache__
